/*
#FF6978 red
#FFFCF9 white
#B1EDE8 blue
#D6F9DD turtle
#99F7AB green
*/



.overlay {
  background-color: #B1EDE8;
  bottom: 0;
  left: 0;
  opacity: .9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.nav-link {
  color : grey;
}

.navbar-brand {
  color : black;
}

.btn{
  background-color: #FF6978;
  color: black;
}


body {
  background-color: #FFFCF9;
  font-family: 'Krub';
}

.sentiment-tool-tip {
  height: 15px;
  width: 15px;
}
